


// 蓝色公文风格表单模板样式
@import './blue-table-style.scss';
// 红色表格
@import './red-table-style.scss';



// 用于校验顶部中间位置展示提示的样式
.top-notification{
  inset: 24px auto auto 50%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  transform: translateX(-50%);
}
// 子表 title部分
span.title{
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #3892f2;
}


// AgileBPM 校验 处理,红框
.ab-is-error .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset !important;
}
.ab-is-error .el-checkbox {
  color: #ff4d4f;
}
.ab-is-error .el-radio {
  color: #ff4d4f;
}
.ab-is-error .el-upload--picture-card {
  border: 1px dashed #ff4d4f;
}
 

.ab-is-error .el-textarea {
  --el-input-border-color: #ff4d4f;
}

// popper 提示异常
.el-popper.is-ab-error {
  /* Set padding to ensure the height is 32px */
  padding: 6px 12px;
  //color:red;
  background: linear-gradient(90deg, rgb(159, 229, 151), rgb(204, 229, 129))
}

.el-popper.is-ab-error .el-popper__arrow::before {
  right: 0;
  background: linear-gradient(45deg, #b2e68d, #bce689);
}



.ab-table{
  width: 100%;
  font-size: 12px;
  table-layout: fixed;
  background-color: #fff;
}

.ab-table thead {
  height: 32px;
}

.ab-table tr {
  height: 25px;
}

.ab-table table>thead>tr {
  background-color: #eee;
}

.ab-table thead th {
  width: auto;
  width:90px;
  min-width: 90px;
  height: 32px;
  font-weight: 700;
  text-align: center;
  background-color: #f3f3f3;
}

.ab-table th {
  width: 15%;
  height: 32px;
  padding: 0 7px 0 7px;
  font-weight: 400;
  color: #7a7a83;
  text-align: left;
  background-color: #fff;
  border: 0 solid #fff;
}
 
.ab-table td {
  width:90px;
  padding: 0;
  font-weight: 400;
  text-align: center;
  border: 0 solid #fff;
}

.ab-table-sn {
  width: 50px !important;
  min-width: 0px !important;
}

